[project]
	description = Script to fetch statements from Raiffeisen Connect
[access "refs/*"]
	owner = group user/Nikolay Bryskin (nikicat)
[access "refs/for/refs/*"]
	read = group user/Nikolay Bryskin (nikicat)
	push = group user/Nikolay Bryskin (nikicat)
	label-Code-Review = -2..+2 group user/Nikolay Bryskin (nikicat)
	label-Verified = -1..+1 group user/Nikolay Bryskin (nikicat)
	rebase = group user/Nikolay Bryskin (nikicat)
	removeReviewer = group user/Nikolay Bryskin (nikicat)
	submit = group user/Nikolay Bryskin (nikicat)
[access "refs/heads/*"]
	read = group user/Nikolay Bryskin (nikicat)
	create = group user/Nikolay Bryskin (nikicat)
	push = +force group user/Nikolay Bryskin (nikicat)
	pushMerge = group user/Nikolay Bryskin (nikicat)
[access "refs/tags/*"]
	push = +force group user/Nikolay Bryskin (nikicat)
	pushTag = group user/Nikolay Bryskin (nikicat)
	pushSignedTag = group user/Nikolay Bryskin (nikicat)
